{# templates/credit_application/success.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Заявка принята{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2 class="mb-4">Ваша заявка принята!</h2>
        <p>Спасибо за вашу заявку. Мы свяжемся с вами в ближайшее время.</p>
    </div>
{% endblock %}
