{# templates/credit_application/success.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Your application has been accepted!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2 class="mb-4">Your application has been accepted!</h2>
        <p>Thank you for your application. We will contact you shortly.</p>
    </div>
{% endblock %}
