{% extends 'base.html.twig' %}

{% block title %}Check Your Email{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="bi bi-envelope-check text-success" style="font-size: 3rem;"></i>
                    </div>
                    <h1 class="card-title mb-4">Check Your Email</h1>
                    
                    <p class="card-text">
                        An email has been sent to your address. It contains a link you must click to reset your password.
                    </p>
                    <p class="card-text text-muted">
                        Note: You can only request a new password once within 60 minutes.
                    </p>
                    
                    <div class="mt-4">
                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary">
                            <i class="bi bi-arrow-left"></i>
                            Return to Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
